DATABASE_URL=
PRIVACY_SALT=
HIVE_SIGNING_SECRET=
HIVE_SIGNING_SECRET_PREVIOUS=
ADMIN_SECRET=
ADMIN_SECRET_PREVIOUS=
BRAND_NAME=SeenRelay
SERVICE_VERSION=0.3.0
PAYMENTS_ENABLED=false
PAYMENT_PROVIDER=none
DEFAULT_MAX_AGE_SECONDS=3600
MAX_MAX_AGE_SECONDS=604800
OBSERVATION_RETENTION_SECONDS=604800
DEDUP_WINDOW_SECONDS=60
CONFLICT_WINDOW_SECONDS=120
MAX_OBSERVATION_AGE_SECONDS=604800
MAX_FUTURE_SKEW_SECONDS=300
OBSERVER_PROOF_MAX_SKEW_SECONDS=300
MAX_BODY_BYTES=16384
HIVE_LEASE_TTL_SECONDS=86400
HIVE_CHECK_CAPACITY=100
HIVE_CHECK_REFILL_PER_MINUTE=60
HIVE_CAPACITY_BONUS_PER_SCORE=10
HIVE_MAX_CAPACITY_BONUS=900
HIVE_REFILL_BONUS_PER_SCORE_PER_MINUTE=0.2
HIVE_MAX_REFILL_BONUS_PER_MINUTE=120
USEFUL_REUSE_SCORE_UNITS=1
USEFUL_REUSE_DAILY_AWARD_CAP=1000
HIVE_LEASE_RETENTION_SECONDS=2592000
HIVE_REUSE_RETENTION_SECONDS=7776000
ADMIN_SESSION_TTL_SECONDS=14400
VERCEL_HARD_SPEND_CAP_USD=
